@import "tailwindcss";

:root {
  --primary: 59 130 246;
  --secondary: 139 92 246;
}

body {
  color: rgb(255 255 255);
  background: rgb(3 7 18);
}

@keyframes spin-slow {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  25% {
    transform: rotateY(90deg) scale(1.05);
  }
  50% {
    transform: rotateY(180deg) scale(1.1);
  }
  75% {
    transform: rotateY(270deg) scale(1.05);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}

.animate-spin-slow {
  animation: spin-slow 0.6s ease-in-out infinite;
  transform-style: preserve-3d;
}
